[submodule "premake"]
	path = premake
	url = https://github.com/d-led/premake-meta-cpp.git
[submodule "deps/Catch"]
	path = deps/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "deps/gmock"]
	path = deps/gmock
	url = https://github.com/ericsubach/googlemock.git
[submodule "deps/hayai"]
	path = deps/hayai
	url = https://github.com/nickbruun/hayai.git
